::ng-deep .mat-calendar {
  background-color: white;
}

>>> .p-datepicker {
  width: 100% !important;
}

::ng-deep .p-button {
  background: white !important;
  color: black !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

::ng-deep .submit .p-button {
  width: 100% !important;
}


:where(.space-y-8 > :not(:last-child)) {
  margin-block-end: 0 !important;
}

