<div class="py-8 px-4 sm:px-6 lg:px-8">

  <div class="p-5 border-b rounded-tr-lg rounded-tl-lg border-gray-200 bg-gray-100 flex justify-between">
    <h1 class="text-3xl font-bold">لائحة المعوزين</h1>
    <div class="flex flex-row justify-end items-center gap-3">
      @if (role == 'admin' || role == 'super_admin') {
        <p-button
          label="تحميل كـ CSV"
          icon="pi pi-download"
          class="ml-2"
          [disabled]="this.dataSource.data.length==0"
          [severity]="'info'"
          (click)="exportToCSV()"
        ></p-button>
      }


      <div class="flex items-center gap-2.5">
        @if (role != 'user' && role != 'writer') {
          <div>
            <p-button
              class="back"
              (click)="createDistitute()"
              icon="pi pi-plus"
              [rounded]="true"
              [text]="true"
              [raised]="true"
            ></p-button>
          </div>
        }
        <div class="w-full max-w-sm min-w-[200px]">
          <div class="relative flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                 class="absolute w-5 h-5 top-2.5 left-2.5 text-slate-600">
              <path fill-rule="evenodd"
                    d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                    clip-rule="evenodd"/>
            </svg>

            <input
              (keyup)="applyFilter($event)"
              class="w-66  bg-white placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-10 pr-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              placeholder="Search..."
            />
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="shadow-xs  rounded-br-lg rounded-bl-lg p-4 bg-white" dir="rtl">
    <table class="!bg-white" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم اليتيم</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="cin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم البطاقة الوطنية</th>
        <td mat-cell *matCellDef="let element"> {{ element.cin }}</td>
      </ng-container>

      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الهاتف</th>
        <td mat-cell *matCellDef="let element" dir="ltr"> {{ element.tel }}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>السن</th>
        <td mat-cell *matCellDef="let element"> {{ element.age }} سنة</td>
      </ng-container>


      <ng-container matColumnDef="birth_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الازدياد</th>
        <td mat-cell *matCellDef="let element"> {{ element.birth_date }}</td>
      </ng-container>

      <ng-container matColumnDef="husband_info">
        <th mat-header-cell *matHeaderCellDef class="text-right">الزوج</th>
        <td mat-cell *matCellDef="let element" class="py-2">
          <button
            mat-button
            (click)="openHusbandDialog(element.husband)"
            class="flex items-center gap-2 px-3 py-1 text-primary-600 hover:bg-primary-50 rounded transition-colors"
          >
            <span class="font-medium">{{ element.husband.name }}</span>
            <mat-icon class="!w-5 !h-5 !text-[1.1rem]">visibility</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-right">الخيارات</th>
        <td mat-cell *matCellDef="let element" class="py-2  gap-2 ">
          <button mat-icon-button color="primary" (click)="editDistitute(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteDistitute(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator class="!bg-white !flex !justify-center" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                   aria-label="Select page of widows">
    </mat-paginator>
  </div>


</div>
